dataset==0.6.0
ggplot==0.6.8
ipykernel==4.2.2
ipython==4.1.2
ipython-genutils==0.1.0
jupyter-client==4.1.1
jupyter-core==4.0.6
matplotlib==1.4.3
networkx==1.10
notebook==5.7.8
numpy==1.22.0
pandas==0.17.1
rpy2==2.7.7
scikit-learn==0.16.0
scikits.bootstrap==0.3.2
scikits.learn==0.8.1
scipy==0.14.0
seaborn==0.7.0
sklearn==0.0
statistics==1.0.3.5
statsmodels==0.6.1
